body {
    padding-top: 70px;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: coral;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.flip-card-back {
    background-color: lightgrey;
    color: black;
    transform: rotateY(180deg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-back h5 {
    margin-top: 0;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

footer {
    margin-top: 40px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0);
}